.app__aboutus{
    width: 100%;
    position: relative;
    background-color: var(--color-black);
}

.app__aboutus_overlay{
    position: absolute;
    inset: 0;
}

.app__aboutus_overlay img{
    width: 391px;
    height: 415px;
    z-index: 0;
}

.app__aboutus_content{
    width: 100%;
    z-index: 2;
}

.app__aboutus_content_about{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    text-align: right;
}

.app__aboutus_content_history{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    text-align: left;
}

.app__aboutus_knife{
    margin: 2rem 4rem;
}

.app__aboutus_knife img{
    height: 915px;
}

.app__aboutus_content_about p,
.app__aboutus_content_history p{
    padding: 1.25rem 0;
    color: var(--color-grey);
    font-size: 15px;
}

@media screen and (max-width: 1150px){
    .app__aboutus_content{
        flex-direction: column;
    }

    .app__aboutus_knife{
        padding: 4rem 0;
    }
}

@media screen and (max-width: 650px){
    .app__aboutus_overlay img{
        width: 80%;
        height: auto;
    }
}