.app__header{
    width: 100%;
    background-color: var(--color-black);
    padding: 0 2%;
}

.app__wrapper_info h1{
    padding-bottom: 1rem;
    letter-spacing: 0.04em;
}

.app__wrapper_info button{
    margin-top: 1.25rem;
}